In [10]:
import pandas as pd 

test_true = pd.read_csv("data/Test_data/real_missions/data-1.csv", sep=',', low_memory=False)
test_false = pd.read_csv("data/Test_data/fake_missions/data-10.csv", sep=',', low_memory=False)
test_true

,timestamp,pitch,yaw,roll,lat,lon,alt,velocity_x,velocity_y,velocity_z,battery,heading,airspeed,groundspeed
0,0,-0.005559,0.032589,0.028599,36.715607,3.184630,19.45,-0.04,0.03,0.05,96,1,0.077313,0.052046
1,1,-0.069334,0.034589,0.069736,36.715608,3.184633,19.41,0.34,0.57,0.00,95,1,0.671895,0.671892
2,2,-0.182657,1.382111,-0.103392,36.715625,3.184663,19.38,1.84,2.66,-0.03,95,79,3.242372,3.242141
3,3,-0.160963,0.954543,0.020606,36.715654,3.184716,19.43,2.36,3.41,-0.04,95,54,4.155279,4.155061
4,4,0.040858,0.944934,-0.025219,36.715686,3.184772,19.46,2.05,2.90,-0.02,94,54,3.560972,3.560886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,60,-0.260201,-2.099629,-0.015859,36.714032,3.180868,19.50,-3.22,-5.66,0.01,72,239,6.520067,6.520059
61,61,-0.204162,-2.100777,0.025541,36.713988,3.180773,19.50,-3.08,-5.40,0.00,71,239,6.223262,6.223262
62,62,0.123305,-2.100747,-0.020390,36.713949,3.180687,19.47,-1.64,-2.88,0.03,71,239,3.326602,3.326399
63,63,0.132651,-2.100835,0.022420,36.713937,3.180661,19.48,-0.23,-0.41,-0.02,71,239,0.475153,0.474723
64,64,-0.030227,-2.102316,0.076793,36.713937,3.180662,19.46,0.21,0.05,0.03,70,239,0.226477,0.223072

In [2]:
test_false

,timestamp,pitch,yaw,roll,lat,lon,alt,velocity_x,velocity_y,velocity_z,battery,heading,airspeed,groundspeed
0,0,-0.016789,-0.013516,0.019092,36.715607,3.184630,15.61,-0.03,0.03,-0.05,96,359,0.069545,0.045658
1,1,-0.069874,-0.005095,0.063138,36.715608,3.184632,15.64,0.44,0.52,-0.02,95,359,0.692141,0.691698
2,2,-0.253168,1.148573,-0.066674,36.715625,3.184653,15.65,2.16,2.19,-0.07,95,65,3.086693,3.085820
3,3,-0.234158,0.828631,0.005402,36.715670,3.184712,15.63,3.36,3.40,0.02,95,47,4.786785,4.786725
4,4,-0.081001,0.789302,-0.007667,36.715717,3.184769,15.64,3.28,3.30,-0.01,94,45,4.662523,4.662484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,60,-0.272554,-2.103653,0.038728,36.714106,3.180927,15.67,-3.25,-5.64,0.00,72,239,6.513872,6.513867
61,61,-0.271725,-2.099653,-0.027337,36.714062,3.180832,15.66,-3.22,-5.67,0.01,72,239,6.527733,6.527725
62,62,0.029569,-2.100412,0.010699,36.714016,3.180730,15.66,-2.40,-4.19,0.02,71,239,4.835837,4.835760
63,63,0.127314,-2.101069,-0.013224,36.713994,3.180683,15.64,-0.75,-1.33,-0.01,71,239,1.532264,1.532220
64,64,0.024463,-2.100601,-0.021496,36.713991,3.180676,15.65,0.11,0.16,0.00,70,239,0.197434,0.197190

# **Prediction LSTM**

In [12]:
import pandas as pd
import numpy as np
import time
from tensorflow.keras.models import load_model
from sklearn.preprocessing import StandardScaler

test_model = load_model("Models\Lstm_Many_to_one_1.h5")
# test_model = load_model("Models\Lstm_Many_to_one_2.h5")
# test_model = model

def prediction(mission, point=64):

    scaler = StandardScaler()
    mission_std = scaler.fit_transform(mission)
    mission_std = pd.DataFrame(mission_std, columns=mission.columns)

    # data = mission
    data = mission_std
    # data = mission

    sequence_length = 4
    sequences = []
    for i in range(0, len(data) - sequence_length + 1):
        sequence = data.iloc[i:i + sequence_length].values
        sequences.append(sequence)

    X = np.array(sequences)

    print(X.shape)
    
    sart_time = time.time()
    result = test_model.predict(X)
    end_time = time.time()
    print("Prediction result: ", (result[0:point] > 0.5).astype(int))
    # print("Prediction result: ", result)
    print("prediction time : ",end_time-sart_time)

In [15]:
mission = test_true
# mission = test_false


prediction(mission)

(62, 4, 14)
2/2 [==============================] - 0s 4ms/step
Prediction result:  [[1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]]
prediction time :  0.06014537811279297

# **Prediction MLP**

In [9]:
import pandas as pd
import numpy as np
import time
from tensorflow.keras.models import load_model
from sklearn.preprocessing import StandardScaler

model = load_model("Models\mlp2.h5")

def prediction(mission):

    # scaler = StandardScaler()
    # mission_std = scaler.fit_transform(mission)
    # mission_std = pd.DataFrame(mission_std, columns=mission.columns)

    # data = mission_std
    data = mission
    # print(data.shape)
    
    sart_time = time.time()
    result = model.predict(data)
    end_time = time.time()
    print("Prediction result: ", (result > 0.5).astype(int))
    # print("Prediction result: ", result)
    print("prediction time : ",end_time-sart_time)

In [11]:
test_true = pd.read_csv("data/Test_data/real_missions/data-10.csv", sep=',', low_memory=False)
mission = test_true

# test_false = pd.read_csv("data/Test_data/fake_missions/data-1.csv", sep=',', low_memory=False)
# mission = test_false
prediction(mission)

1/1 [==============================] - 0s 17ms/step
Prediction result:  [[1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]]
prediction time :  0.059375762939453125